.container-product{
    background: #FFBBEA;
    width: 90%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}
.time{
    width: 80px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: black;
    color: white;
    height: 25px;
    padding: 3px 8px;
    margin: 15px 0;
    border-radius: 25px;
    -webkit-box-shadow: 4px 2px 15px -2px rgba(0,0,0,0.45); 
    box-shadow: 4px 2px 15px -2px rgba(0,0,0,0.45);
}
.time i{
    margin-right: 8px;
}
.arrow i{
    font-size: 30px;
    margin-left: 40px;
}
.info-product h3{
    margin: 0;
}
.container-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}
.title-price {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.description p{
    margin: 8px 0;
    font-size: 15px;
}
.product-image {
    margin-right: 15px;
}

